<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Agregar Usuario</title>
        
    </head>
    <body bgColor="black">
        
          <!--cramos una tabla para diseño-->
        <div align="center">
<table width="650" border="2" bgColor="yellow" cellpadding="5" cellspacing="4">
  <!--DWLayoutTable-->
  <tr>
    <td height="27" colspan="4" valign="top" bgcolor="#D6234A"><div align='center' class='style1'>Facultad De Ingenieria en sistemas</div></td>
  </tr>
  <tr>
    <td height="0" colspan="4" valign="top" bgcolor="#2D7AC0"><div align='center' class='style2'>
        <p class='style4'>BIENVENIDO</p>
    </div>      <p align='center' class='style3'>REGISTRO DE USUARIOS</p></td>
    
  </tr>
  <tr>
    
    
    <td colspan="4" rowspan="3" valign="top" bgcolor="#58C3BB"><div align="center">
      <p class="style10">Administrador </p>
        
       
        
        <div class="conteni">
            <h1>AGREGAR USUARIO</h1>
            
           
             <!-- el atributo action define la ubicación (URL) donde se envían los datos que recopilamos en el formulario despues de validarlos -->
            <form th:action="@{/guardarUsuario}" method="post" th:object="${usuario}"><!--llamamos la url de controlador usuario -->
                <div class="botones">
                <br/>
                
                <!--con el input creamos controles interactivos para ingresar la infromación del usuario-->
                <input type="hidden" name="ID_USUARIO" th:field="*{ID_USUARIO}"/>
                <label for="NOMBRE">Nombre:</label>
                <input type="text" name="NOMBRE" th:field="*{NOMBRE}"/>
               
                <br/>
                <label for="APELLIDO">Apellido:</label>
                <input type="text" name="APELLIDO" th:field="*{APELLIDO}"/>
               
                <br/>
                <label for="CORREO_ELECTRONICO">Correo electronico:</label>
                <input type="correo" name="CORREO_ELECTRONICO" th:field="*{CORREO_ELECTRONICO}"/>
             
                <br/>
                <label for="TELEFONO">Teléfono:</label>
                <input type="number" name="TELEFONO" th:field="*{TELEFONO}"/>
               
                <br/>
                <label for="FECHA_NACIMIENTO">Fecha Nacimiento</label>
                <input type="date" name="FECHA_NACIMIENTO" th:field="*{FECHA_NACIMIENTO}"/>
               
                <br/>
                <label for="LONGITUD">Longitud</label>
                <input type="double" name="LONGITUD" th:field="*{LONGITUD}"/>
               
                <br/>
                <label for="LATITUD">Latitud</label>
                <input type="double" name="LATITUD" th:field="*{LATITUD}"/>
                
                <br/>
                <br/>
                
                <label for="ID_DPTO">Departamento:</label>
                <select name="ID_DEPTO" th:field="*{ID_DEPTO}"> <!--el select nos muestra un menú de opciones-->
                    <option th:each="departamento:${departamentos}"
                            th:value="${departamento.ID_DEPTO}"
                            th:text="${departamento.DESCRIPCION_DEPTO}"
                            />
                </select>
                
                <label for="ID_PROFESION">Profesion:</label>
                <select name="ID_PROFESION" th:field="*{ID_PROFESION}">
                    <option th:each="profesion:${profesiones}"
                            th:value="${profesion.ID_PROFESION}"
                            th:text="${profesion.DESCRIPCION_PROFESION}"
                            />
                </select>
                <br/>
                <br/>
                <input type="submit" name="guardarUsuario" value="Guardar"/><!--guardamos los datos en nuestra tabla mysql-->
            </div>
            </form>
             <br/>
              <div class="botones">    
            <a href="http://www.localhost:8072"><input type="button" value="REGRESAR"></a>
        </div>
                    </div>


 
    </body>
</html>
